<nav >
    <div class="navbar">
        <a id="link" href="#"><span id="burger"></span></a>

        <a href="{{ url_for('accueil') }}">
        <figure class="logonav">
            <h1>Bank Summary</h1>
        </figure>
        </a>

        <ul class="listnav">
        <li><a href="{{ url_for('summary') }}">Résumé un texte</a></li>
        <li><a href="{{ url_for('pdf_summary') }}">Résumé un pdf</a></li>
        </ul>

    </div>

    <ul class="listnav close">
        <li><a href="{{ url_for('summary') }}">Résumé un texte</a></li>
        <li><a href="{{ url_for('pdf_summary') }}">Résumé un pdf</a></li>
     </ul>
</nav>