{% extends "base.html" %}
{% block body %}

<form action="" method="post" class="connexion">

    {%if error%} 
    <p>{{error}}</p>
    {%endif%}

    <fieldset>
        {{form.text.label}}
        {{form.text(required='required')}}
    </fieldset>
    
    <input class="action_button" type="submit" value="Envoyer">
    {{form.csrf_token}}
    {% if summary %}
    <p>{{ summary }}</p>
    {% endif %}

</form>

<form action="" method="POST" enctype="multipart/form-data">
    <input type="file" name="pdf_file" accept="application/pdf">
    <input type="submit" value="Envoyer">
</form>

{% endblock %}