{% extends "base.html" %}
{% block body %}


<form action="" method="post" class="summary_form">

    <h1>{{title}}</h1>
    {%if error%} 
    <p>{{error}}</p>
    {%endif%}

    <fieldset>
        {{form.text.label}}
        {{form.text(required='required')}}
    </fieldset>
    
    <input class="action_button" type="submit" value="Envoyer">
    {{form.csrf_token}}

    
</form>
<section class="resumer">
    <article>
        <h2>Résumé avec hugging face</h2>
        {% if summary_hugging %}
        <p>{{ summary_hugging }}</p>
        {% endif %}
    </article>
    <article>
        <h2>Résumé avec azure</h2>
        {% if summary_azure %}
        <p>{{ summary_azure }}</p>
        {% endif %}
    </article>
</section>
{% endblock %}