{% extends "base.html" %}
{% block body %}


<form action="" method="post" class="summary_form">

    <h1>{{title}}</h1>
    {%if error%} 
    <p>{{error}}</p>
    {%endif%}

    <fieldset>
        {{form.text.label}}
        {{form.text(required='required')}}
    </fieldset>
    
    <input class="action_button" type="submit" value="Envoyer">
    {{form.csrf_token}}

    
</form>
{% if results %}
<section class="resumer">
    <div>
    {% for result in results  %}
    <article>
        <h2>Résumé avec {{result[0]}}</h2>
        
        <p>{{ result[1] }}</p>
    </article>
    {% endfor %}
</div>
</section>
{% endif %}
{% endblock %}