{% extends "base.html" %}
{% block body %}

<form action="" method="POST" class="summary_form" enctype="multipart/form-data">
    <h1>Résumé de pdf avec differents modèles</h1>

    <fieldset>
        {{form_pdf.pdf.label}}
        {{form_pdf.pdf(required='required')}}
    </fieldset>
    
    <input class="action_button" type="submit" value="Envoyer">
    {{form_pdf.csrf_token}}
</form>

{% if results %}
<section class="resumer">
    <div>
    {% for result in results  %}
    <article>
        <h2>Résumé avec {{result[0]}}</h2>
        
        <p>{{ result[1] }}</p>
    </article>
    {% endfor %}
</div>
</section>
{% endif %}
{% endblock %}