.connexion{
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    fieldset{
        display: flex;
        flex-flow: column;
        gap: 16px;
        textarea { 
            width: 600px;
            height: 500px;
        }
    }
}