.summary_form {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    h1{
        padding: 0 4px;
        text-align: center;
    }


    fieldset {
        display: flex;
        flex-flow: column;
        gap: 16px;
        width: 75%;
        border-radius: 12px;
        textarea{
            height: 400px;
            padding: 12px 4px 4px 4px;
            border-radius: 12px;
            outline: none;
            resize: none;
        }
        
        

    }
    .action_button{
            border-radius: 4px;
            border: $fonce 1px solid;
            background-color: $bordeaux;
            color: $claire;
            font-size: 24px;
            padding: 4px;
            cursor: pointer;
        }
    .action_button:hover{
        border-radius: 4px;
        border: $bordeaux 1px solid;
        background-color: $claire;
        color: $fonce;
        padding: 4px;
    }
}
.resumer{
    margin-top: 24px;
    margin-bottom: 24px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    padding: 0 12px;
    div{
        display: flex;
        flex-flow: column;
        gap: 24px;
        width: 75%;
    }
    p{

        text-align: justify;
    }
    article{
        display: flex;
        flex-flow: column;
        gap: 12px;
    }
}
@media screen and (max-width:500px) {
    .summary_form {
        h1{
            font-size: 24px;
        }
    }
    .resumer{
        div{
            width: 100%;
        }
        p{

            text-align: left;
        }
    }
}